body{
		
}

#logo{
	max-height: 40px;
}

.menu{

	list-style: none;
}

.ajoutCollaborateur {
	max-width: 200px ;
	
}

.rechercher {
	max-width: 20% ;
	max-height: 35px;
	padding-left:10px;
}

#search, #filter {
	max-width: 220px ;
	max-height: 35px;
}

.card-img{
	height: 10%;
}


p{
	font-size: 0.7em;
}

.ml-1 {
  margin-left: ($spacer * .5) !important;
}

button[type="submit"], a {
	color:white ;
}

a:hover, button[type="submit"]:hover {
	color: red;
}

button[type="submit"] {
	max-width: 220px ;
	max-height: 35px;
	heigth:200px;

}





